# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
env/
venv/

# Django stuff:
*.sqlite3
db.sqlite3
media/
static/

# IDEs
.vscode/
.idea/

# Environment files
.env
